%h2 Sign up
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :family_name_kanji
    %br/
    = f.text_field :family_name_kanji
  .field
    = f.label :first_name_kanji
    %br/
    = f.text_field :first_name_kanji
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :birthday
    %br/
    = f.date_select :birthday, use_month_numbers: true, start_year: 1900, default: Date.new(1989, 1, 1)
  .actions
    = f.submit "Sign up"
    
= render "devise/shared/links"

.fixedButton
  %p 出品する
  .fixedButton__image
    = link_to '#' do
      =image_tag('icon/icon_camera.png', alt: "出品ボタン")
