.SignupPage
  .SignupPage__Logo
    .SignupPage__Logo__icon
      = link_to root_path do
        = image_tag('logo/logo.png', alt: "ヘッダーロゴ")
  .SignupPage__content
    .SignupForm
      = form_for(@user, url: user_registration_path) do |f|
        .SignupForm__error
          = render "devise/shared/error_messages", resource: @user
        .SignupForm__title
          %h1.title 会員情報入力
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title ニックネーム
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.text_field :nickname, placeholder: '例)フリマー', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title メールアドレス
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: '例)PC、携帯どちらもOK!', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title パスワード
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.password_field :password, autocomplete: 'new-password', placeholder: '半角英数字7文字以上', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title パスワード確認用
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'パスワード確認用', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title お名前(漢字)
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.text_field :family_name_kanji, placeholder: '例)山田', class: 'SignupForm__content__form__box'
            =f.text_field :first_name_kanji, placeholder: '例)花子', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title お名前(カナ)
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            =f.text_field :family_name_kana, placeholder: '例)ヤマダ', class: 'SignupForm__content__form__box'
            =f.text_field :first_name_kana, placeholder: '例)ハナコ', class: 'SignupForm__content__form__box'
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title 本人確認
          .SignupForm__content__comment
            %p.comment 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .SignupForm__content
          .SignupForm__content__text
            .SignupForm__content__text--title 生年月日
            .SignupForm__content__text--must 必須
          .SignupForm__content__form
            != sprintf(f.date_select(:birthday, with_css_classes:'SignupForm__content__form__box', use_month_numbers:true, start_year: 1920, end_year:2000, prompt:"--", date_separator:'%s'),'年','月')+'日'
        .SignupForm__Submit
          = f.submit "次へ進む", class:'SignupForm__Submit__btn'
  .SignupPage__Logo
    .SignupPage__Logo__icon
      = link_to root_path do
        = image_tag('logo/logo.png', alt: "ヘッダーロゴ")