%header.header
  .header__content
    .header__content--upper
      %h1.header__upper--icon
        %a(href="/") 
          =image_tag('logo/logo.png', alt: "ヘッダーロゴ")
      .header__upper__search
        = form_with url: search_items_path, local: true, method: :get do |form|
          .FormField
            .FormField__input
              = form.text_field :keyword, class: 'FormField__input__box', placeholder: 'キーワードから探す'
          .Submit
            = form.submit '検索する' do
              .img
                = image_tag('icon/icon-search 1.png', alt: "サーチボタン")
    .header__content--bottom
      %ul.bottom-left
        = render 'shared/category'
        %li.header__bottom--brand
          %a(href="#") ブランド
      %ul.bottom-right
        - if user_signed_in?
          %li.header__bottom--mypage
            = link_to "マイページ", mypage_path
        - else
          %li.header__bottom--sighin
            = link_to "ログイン", new_user_session_path
          %li.header__bottom--signup
            = link_to "新規会員登録", new_user_registration_path