%header.header
  .header__content
    .header__content--upper
      %h1.header__upper--icon
        %a(href="/") 
          =image_tag('logo/logo.png', alt: "ヘッダーロゴ")
      .header__upper--search
        %form{:action => "/", :method => "post"}
          %input{:name => "search", :placeholder => "キーワードから探す", :type => "search"}/
          %button{type: "submit"}
            .searchButton
              = image_tag('icon/icon-search 1.png', alt: "サーチボタン")
    .header__content--bottom
      %ul.bottom-left
        = render 'shared/category'
        %li.header__bottom--brand
          %a(href="#") ブランド
      %ul.bottom-right
        - if user_signed_in?
          %li.header__bottom--mypage
            = link_to "マイページ"
          %li.header__bottom--signout  
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.header__bottom--sighin
            = link_to "ログイン", new_user_session_path
          %li.header__bottom--signup
            = link_to "新規会員登録", new_user_registration_path