.LoginPage
  .LoginPage__Logo
    .LoginPage__Logo__icon
      = link_to root_path do
        = image_tag('logo/logo.png', alt: "ヘッダーロゴ")
  .LoginPage__content
    .LoginForm
      .LoginForm__SignUp
        %h3.LoginForm__SignUp__text アカウントをお持ちでない方はこちらから
        .LoginForm__SignUp__link
          = link_to '新規会員登録', new_user_registration_path, class: 'LoginForm__SignUp__link__btn'
      .LoginForm__SignIn
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .LoginForm__SignIn__Form
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'LoginForm__SignIn__Form__box'
            = f.password_field :password, autocomplete:'new-password', placeholder: 'パスワード', class: 'LoginForm__SignIn__Form__box'
          .LoginForm__SignIn__Submit
            = f.submit 'ログイン', class: 'LoginForm__SignIn__Submit__btn'
  .LoginPage__Logo
    .LoginPage__Logo__icon
      = link_to root_path do
        = image_tag('logo/logo.png', alt: "ヘッダーロゴ")