.page
  .page__content
    .item
      .item__content
        %h2.item__content--subtitle
          = @item.product_name
        .item__content--image
          .image__big
            = image_tag @item.item_images[0].src.url
          %ul
            %li.image__small
              - if @item.item_images[0].present?
                = image_tag @item.item_images[0].src.url
              - else 
                .image__small__none 
            %li.image__small
              - if @item.item_images[1].present?
                = image_tag @item.item_images[1].src.url
              - else 
                .image__small__none 画像無し
            %li.image__small
              - if @item.item_images[2].present?
                = image_tag @item.item_images[2].src.url
              - else 
                .image__small__none 画像無し 
            %li.image__small
              - if @item.item_images[3].present?
                = image_tag @item.item_images[3].src.url
              - else 
                .image__small__none 画像無し
            %li.image__small
              - if @item.item_images[4].present?
                = image_tag @item.item_images[4].src.url
              - else 
                .image__small__none 画像無し
        .item__content--price
          ¥
          = @item.price
        %p (税込)送料込み
        .item__content--description
          = @item.description
        .item__content--table
          %table
            %tr 
              %th 出品者
              %td 
                = @user_nickname
            %tr 
              %th カテゴリー
              %td.colorBlue
                = link_to "#{@category_parent.name}"
                %br/
                = link_to "#{@category_child.name}"
                %br/
                = link_to "#{@category_grandchild.name}"
            %tr
              %th ブランド
              %td 
                = @item.brand.brand_name
            %tr
              %th 商品の状態
              %td 
                = Condition.find(@item.condition_id).name
            %tr
              %th 配送料の負担
              %td 
                = ShippingFee.find(@item.shipping_fee_id).name
            %tr
              %th 発送元の地域
              %td 
                = Prefecture.find(@item.prefecture_id).name
            %tr
              %th 発送日の目安
              %td 
                = DayToShip.find(@item.day_to_ship_id).name

        .item__buttons
          .item__buttons--likeButton
            = link_to '#' do
              <i class="far fa-heart"></i> お気に入り
          .item__buttons--reportButton
            %a(href="#")
              <i class="fas fa-flag"></i>
              不適切な商品の通報
        .item__content--purchaseButton
          -if @purchase.blank?
            = link_to '購入画面に進む', new_item_purchase_path(@item.id), class: 'GoToPurchase'
          -else
            .SoldOut SOLD OUT
      .item__comment
        = form_with url: "#" do |form|
          = form.text_area :email
          %p
            相手のことを考え丁寧なコメントを心がけましょう。
            %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag type: 'submit' do
            = link_to '#' do
              <i class="fas fa-comment"></i> コメントする
        
      .item__select
        .item__select--previousButton
          = link_to item_path(@item.id-1) do
            < 前の商品
        .item__select--nextButton
          = link_to item_path(@item.id+1) do
            次の商品 >

.fixedButton
  %p 出品する
  .fixedButton__image
    = link_to '#' do
      =image_tag('icon/icon_camera.png', alt: "出品ボタン")